/*instrucciones generales
* { margin: auto; }
/*cabecera de la página
h1 { text-align: center; padding: 0.5em; }
/*div principal del calendario
#calendario { border: 4px double black ; max-width: 536px; 
              background-color:#fffafa; text-align: center; }
/*tabla del calendario
#diasc { border: 2px solid black; border-collapse: 
         separate; border-spacing: 4px; }
#diasc th,#diasc td { font: normal 14pt arial; width: 70px; height: 30px; }
#diasc th { color: #990099; background-color: #5ecdec }
#diasc td { color: #492736; background-color: #9bf5ff }
/*línea de la fecha actual
#fechaactual { font: bold 12pt arial; padding: 0.4em }
#fechaactual i { cursor: pointer ; }
#fechaactual i:hover { color: blue; text-decoration: underline; }
/*formulario de busqueda de fechas
#buscafecha { background-color: #663366; color: #9bf5ff; padding: 5px }
#buscafecha select, #buscafecha input  { background-color: #9bf5ff; 
            color: #990099; font: bold 10pt arial;  }
#buscafecha [type=text]  { text-align: center; }
#buscafecha  [type=button] { cursor: pointer; }
/*cabecera del calendario
#anterior { float: left; width: 100px; font: bold 12pt arial;
          padding: 0.5em 0.1em; cursor: pointer ; }
#posterior { float: right; width: 100px; font: bold 12pt arial; 
          padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {color: blue;text-decoration: underline;}
#posterior:hover {color: blue; text-decoration: underline;}
#titulos { font: normal 20pt "arial black
    */

    body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-color: #C5CAE9 !important;
        background-repeat: no-repeat;
        padding: 0px !important;
    }
    
    .container-fluid {
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }
    
    .card {
      box-shadow: 0px 4px 8px 0px #7986CB;
    }
    
    input {
        padding: 10px 20px !important;
        border: 1px solid #000 !important;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #616161 !important;
        color: #fff !important;
        font-size: 16px;
        letter-spacing: 1px;
        width: 180px;
    }
    
    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #512DA8;
        outline-width: 0;
    }
    
    ::placeholder {
        color: #fff;
        opacity: 1;
    }
    
    :-ms-input-placeholder {
        color: #fff;
    }
    
    ::-ms-input-placeholder {
        color: #fff;
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0;
    }
    
    .datepicker {
      background-color: #000 !important;
      color: #fff !important;
      border: none;
      padding: 10px !important;
    }
    
    .datepicker-dropdown:after {
      border-bottom: 6px solid #000;
    }
    
    thead tr:nth-child(3) th {
      color: #fff !important;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    
    .dow, .old-day, .day, .new-day {
      width: 40px !important;
      height: 40px !important;
      border-radius: 0px !important;
    }
    
    .old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
      border-radius: 6px !important;
      background-color: #eee;
      color: #000;
    }
    
    .active {
      border-radius: 6px !important;
      background-image: linear-gradient(#90CAF9, #64B5F6) !important;
      color: #000 !important;
    }
    
    .disabled {
      color: #616161 !important;
    }
    
    .prev, .next, .datepicker-switch {
      border-radius: 0 !important;
      padding: 20px 10px !important;
      text-transform: uppercase;
      font-size: 20px;
      color: #fff !important;
      opacity: 0.8;
    }
    
    .prev:hover, .next:hover, .datepicker-switch:hover {
      background-color: inherit !important;
      opacity: 1;
    }
    
    .cell {
      border: 1px solid #BDBDBD;
      margin: 2px;
      cursor: pointer;
    }
    
    .cell:hover {
      border: 1px solid #3D5AFE;
    }
    
    .cell.select {
      background-color: #3D5AFE;
      color: #fff;
    }
    
    .fa-calendar {
      color: #fff;
      font-size: 30px;
      padding-top: 8px;
      padding-left: 5px;
      cursor: pointer;
    }